
<h4>Post a Comment</h4>
<p class="be-nice">(keep it frosty!)</p>
<div class="comments_form">
  <%= form_for [ @article, @comment ] do |f| %>
    <div class="form-group">
      <%= f.label :author_name, "Your Name", class: 'comment author' %><br />
      <%= f.text_field :author_name, class: 'text-field' %>
    </div>
    <div class="form-group">
      <%= f.label :body, "Your Comment", class: 'comment text' %><br />
      <%= f.text_area :body, class: 'text-field' %>
    </div>
    <div>
      <%= f.submit :submit, class: 'btn' %> 
    </div>
  <% end %>
</div>
