<h1><%= @article.title %></h1>
<p>
	<% if @article.image.exists? %>
		<%= image_tag @article.image.url %>
	<% end %>
</p>
<p class="article_body"><%= @article.body %></p>
	<% if logged_in? %>
		<%= link_to "delete", article_path(@article), data: {confirm: 'Really delete the article?'}, method: :delete %>
		<%= link_to "edit", edit_article_path(@article) %>
	<% end %>
	<p>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: 'tag_name'%>
  <% end %>
	</p>
	<%= render partial: 'comments/form' %>

<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
