<h1>Login</h1>
<div class="login_form">
  <%= form_tag author_sessions_path, method: :post, class: 'login_form' do %>
    <div class="field">
      <%= label_tag :email %>
      <br />
      <%= text_field_tag :email %>
      
    </div>
    <div class="field">
      <%= label_tag :password %>
      <br />
      <%= password_field_tag :password %>  
    </div>
    
      <%= submit_tag "Login", class: 'btn' %>
    
  <% end %>
</div>
