<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <%= link_to "My Super Fancy Blog", articles_path, class: 'navbar-brand blog_name' %>
        <ul class="nav navbar-nav navbar-right nav_list">
          <li>
            <% if logged_in? %>              
              <%= link_to "logout", logout_path, class: "go" %>
            <% else %>
              <%= link_to "login", login_path, class: "go" %>
            <% end %>
          </li>
          <li>
            <%= link_to "tags", tags_path, class: "go" %>
          </li>
          <li>
            <% if logged_in? %>
              <%= link_to "new post", new_article_path, class: "go" %>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <!-- <div class="jumbotron">
      <div class="container"></div>
    </div> -->
  	<p class="flash"><%= flash.notice %></p>
    <div id="article_list_container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div class="footer">
      <% if logged_in? %>
        <%= "logged in as #{current_user.email}"%>
      <% end %>
    </div>
  </body>
</html>
