<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
    <%= link_to "My Super Fancy Blog", articles_path, class: 'blog_name' %>
      <h6>
        <% if logged_in? %>
          <%= "logged in as #{current_user.email}" %>
          <%= link_to "logout", logout_path, class: 'log' %>
        <% else %>
          <%= link_to "login", login_path, class: 'log' %>
        <% end %>
      </h6>
    </nav>
  	<p class="flash"><%= flash.notice %></p>
    <div id="container">
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
